
.req_input{
    display: block;
}

.nreq_input {
    display: none;
}

#regist_form{
    margin: 10px;
}

.input_area{
    margin-top: 10px;
    padding-bottom: 3px;
    border-bottom: 2px solid grey;
}

.submit_area {
    margin-top: 10px;
}

#regist_form > div > div {
    margin-bottom: 10px;
    width: 100%;
}

#regist_form > div > div >div {
    margin-bottom: 5px;
    width: 100%;
}

#rule_area{
    width: 50% !important;
}

#rule_area > label {
    width: 50%;
}

input[type="text"],input[type="date"]{
    width: 100%;
}

#date_area > input[type="date"] {
    width: 100%;
}

.have_candidacy{
    display: flex;
    align-items: center;
}

.have_candidacy > input[type="text"]{
    width: calc( 100% - 30px );
}

#candidacy_form > div{
    position: absolute;
    bottom: 0px;
    height: 80%;
    width: 100%;
    background-color: #404040;
}

#candidacy_area > div:not(.door_bar){
    margin: 0px 10px;
    width: calc( 100% - 20px );
    height: calc(100% - 18px);
    overflow: scroll;
}

.candidacy {
    vertical-align: middle;
    padding: 3px;
}

.candidacy {
    border-bottom: 1px solid gray;
}