
#settings {
    margin: 10px;
}

.setting_row {
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    margin: 5px 0px;
}

.setting_label {
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.setting_btn_area {
    justify-content: space-around;
    display: none;
}

.setting_btn_area[style*="display: block"] {
    display: flex !important;
}

#data_out,
#data_in {
    margin-top: 5px;
    margin-bottom: 15px;
}
